*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 1.2em;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEE2FF;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    border: 3px black solid;
    background-color: #CBC0D3;
    padding: 0.5em;
}

.calculator-container button {
    width: 80px;
    height: 80px;
    margin: 0.1em;
    border-radius: 10%;
    background-color: #FEEAFA;
}

.row1,.row2,.row3,.row4,.row5, .row6 {
    display: flex;
}

.row2 *{
    flex: 1;
}

.backspace-container {
    display: flex;

}

.clear-container {
    display: flex;
    font-size: 0.9em;
}

.num-display {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.2em 0.2em 0.2em 0;
    margin: 0 0 0.5em 0;
    width: 100%;
    word-break: break-all;
    border: 2px black solid;
    border-radius: 5%;
    background-color: #9a92a0;
}

.equal-btn {
    border-width: 4px;
}

button:hover {
    background-color: rgb(170, 169, 255);
}

button:active {
    background-color: rgb(206, 86, 86);
}

img {
    display: block;
    max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
    padding-left: 0;
}