*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 1.2em;
}

img {
    display: block;
    max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
    padding-left: 0;
}